* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    transition: all 200ms;
}

:root {
    --pri-color: #0A6AA9;
    --sec-color: #c2c2c2;
    --ter-color: #319CD8;
    --title-font-family: 'Bebas Neue', sans-serif;
    --body-font-family: 'Lato', sans-serif;
    --title-font-size: 4rem;
    --subtitle-font-size: 1.9rem;
    --body-font-size: 1.1rem;
    --title-font-color: #3B4250;
    --body-font-color: #8C92A3;
    --section-bottom-margin: 100px;
}

html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms;
    background-color: white;
    line-height: unset;
}

img {
    width: 100%;
    height: auto;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #c2c2c2;
}

.main-container {
    max-width: 950px;
    margin: 0 1.25rem
}

.my-btn {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: white;
    border: 1px solid white;
    padding: 15px 30px;
    border-radius: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

/*****************************/
/* ? Bootstrap customisation */
/*****************************/

p {
    margin-top: 0;
    margin-bottom: 0;
}

.carousel-indicators {
    margin-bottom: -1rem;
}

.carousel-control-next, .carousel-control-prev {
    width: unset;
}





/**************************************/
/*? responsive element with dark mode */
/**************************************/

.color-title {
    color: #3B4250;
}

.color-body {
    color: #8C92A3;
}

.nodark-color-title {
    color: white;
}

.nodark-color-body {
    color: white;
}

.main-title {
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
}

.main-subtitle {
    font-family: var(--title-font-family);
    font-size: var(--subtitle-font-size);
}

.main-body {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    line-height: 1.5;
}

.element-logo {
    filter: invert(76%) sepia(23%) saturate(396%) hue-rotate(181deg) brightness(97%) contrast(94%);
}

.dark-border {
    padding: 40px;
    border: 1px solid #c2c2c2;
}

.no-dark-border {
    padding: 40px;
    /* border-radius: 20px; */
    background-color: var(--ter-color);
    border: 1px solid var(--ter-color);
}

/**************************************/

  
/* Switch 1 Specific Styles Start */
.bi-sun {
    font-size: 1.3rem;
}

.bi-moon {
    color: white;
}

.dark-mode-switch {
    height: 75px;
    position: fixed;
    top: 50%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-55%);
    z-index: 100;
}

input[type="checkbox"].switch-1 {
font-size: 30px;
-webkit-appearance: none;
    -moz-appearance: none;
        appearance: none;
width: 3.5rem;
height: 2rem;
background: var(--pri-color);
border-radius: 3em;
position: relative;
cursor: pointer;
outline: none;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
transform: rotate(90deg);
}

input[type="checkbox"].switch-1:checked{
background: #ddd;
}

input[type="checkbox"].switch-1:after{
position: absolute;
content: "";
width: 2rem;
height: 2rem;
border-radius: 50%;
background: #fff;
-webkit-box-shadow: 0 0 .25rem rgba(0,0,0,.3);
        box-shadow: 0 0 .25rem rgba(0,0,0,.3);
-webkit-transform: scale(.7);
        transform: scale(.7);
left: 0;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}

input[type="checkbox"].switch-1:checked:after{
left: calc(100% - 2rem);
}

/* Switch 1 Specific Style End */
  
  

/* HERO SECTION */

#hero {
    width: 100%;
    padding: 5% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero-logo {
    font-family: var(--title-font-family);
    font-size: 1.2rem;
    background-color: var(--ter-color);
    color: white;
    padding: 10px 20px 8px;
    border-radius: 40px;
    letter-spacing: 1px;
}

.hero-title {
    font-family: var(--title-font-family);
    font-size: 18vw;
    text-align: center;
    line-height: 15vw;
    margin-top: 50px;
}

.hero-description {
    text-align: center;
    margin-top: 40px;
}



/* SECTION 2 */

#section2 {
    width: 100%;
    height: auto;
    margin-bottom: var(--section-bottom-margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.companies-logo {
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.companies-logo img {
    padding: 6%;
    width: calc(100%/3);
}


/* SECTION 3 */

#section3 {
    width: 100%;
    height: auto;
    margin-bottom: var(--section-bottom-margin);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.uiuxeverydays {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--ter-color);
    border-radius: 20px;
}

.uiuxeverydays .text {
    padding: 10px 20px 10px 40px;
    width: 60%;
}

.uiuxeverydays button {
    margin-top: 40px;
}


/* SECTION 4 */

#section4 {
    width: 100%;
    height: auto;
    margin-bottom: var(--section-bottom-margin)
}

#section4 .works {
    margin-top: 40px;
}

#section4 .work-container {
    margin-top: 30px;
    border-radius: 20px;
}

.work-container .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.work-container .header .text {
    width: 60%;
}
.work-container .header .text .main-subtitle {
    margin-bottom: 15px;
}

.year {
    border: 1px solid #c2c2c2;
    padding: 8px 20px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* SECTION 5 */

#section5 {
    width: 100%;
    height: auto;
    margin-bottom: var(--section-bottom-margin)
}


#section5 .about-me-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 20px;
}


#section5 .about-me-container .text {
    width: 50%;
}

#section5 .text .dark-border {
    padding: 15px 30px;
    width: max-content;
    border-radius: 50px;
    margin-top: 30px;
}

#section5 .text .main-subtitle {
    margin-bottom: 15px;
}

#section5 .text .main-body {
    margin-bottom: 15px;
}

#section5 .text .dark-border .main-body {
    margin-bottom: 0;
}

#section5 .about-me-container .image {
    width: 50%;
    padding: 5%;
    position: sticky;
    top: 0; 
}

#section5 .about-me-container .image img {
    border-radius: 20px;  
}


/* SECTION 6 */

#section6 {
    width: 100%;
    height: auto;
    margin-bottom: var(--section-bottom-margin)
}


#section6 .testimonials-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 20px;
}

#section6 .testimonials-container .testimonial-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#section6 .testimonials-container .testimonial-list img {
    width: 60%;
}

#section6 .testimonials-container .testimonial-list .text {
    width: 80%;
    margin-right: 6%;
}


/* SECTION 7 */

#section7 {
    width: 100%;
    height: auto;
    margin-bottom: var(--section-bottom-margin)
}


#section7 .connect {
    margin-top: 20px;
}

#section7 .connect-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 -3.5%;
}

#section7 .connect-container .connect-list {
    width: 46%;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

#section7 .connect-container .connect-list i {
    font-size: 2rem;
}





/***********************************/
/* ? MOBILE RESPONSIVENESS (390px) */
/***********************************/

@media (max-width: 600px) {

    .dark-mode-switch {
        height: 75px;
        width: 85px;
        position: fixed;
        top: initial;
        right: initial;
        bottom: 0;
        left: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transform: translateY(0);
    }    

    input[type="checkbox"].switch-1 {
        transform: rotate(0deg);
        }


    .main-container {
        width: 100%;
        padding: 1.25rem
    }

    .main-title {
        font-size: 3rem;
    }

    .dark-border {
        padding: 30px;
    }

    .no-dark-border {
        padding: 30px;
    }


    /* HERO */

    #hero {
        padding-bottom: 100px;
        height: 100vh;
        justify-content: center;
    }
    
    .hero-logo {
        font-size: 1.2rem;
        /* margin-bottom: 50px; */
    }
    
    .hero-title {
        font-size: 6rem;
        line-height: 5.5rem;
        margin-top: 50px;
    }
    
    .hero-description {
        margin-top: 40px;
    }


    /* SECTION 2 */

    #section2 {
        margin-top: 50px;
    }

    #section2 .main-subtitle {
        margin-bottom: 20px;
    }
    
    .companies-logo {
        height: 60px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .companies-logo img {
        padding: 3%;
    }


    /* SECTION 3 */

    #section3 {
        height: auto;
        margin-top: 50px;
    }

    .uiuxeverydays {
        padding: 0 30px 30px;
        flex-direction: column-reverse;
    }

    .uiuxeverydays .text {
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .uiuxeverydays .text .main-title {
        margin-top: 10px;
    }


    /* SECTION 4 */

    .work-container .header {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .work-container .header .text {
        width: 100%;
        margin-top: 20px;
    }


    /* SECTION 5 */

    #section5 .about-me-container {
        flex-direction: column-reverse;
    }

    #section5 .about-me-container .image {
        display: none;
    }

    #section5 .about-me-container .text {
        width: 100%;
    }


    /* SECTION 6 */

    #section6 .testimonials-container .testimonial-list {
        flex-direction: column;
    }

    #section6 .testimonials-container .testimonial-list .text {
        width: 70%;
        margin: 15px 0;
    }

    #section6 .testimonials-container .testimonial-list img {
        width: 70%;
    }



    /* SECTION 7 */

    #section7 .connect-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin: 0
    }
    
    #section7 .connect-container .connect-list {
        width: 100%;
        margin-bottom: 1%;
    }
    
  



}


