.dark-mode-switch {
    height: 75px;
    width: 85px;
    position: fixed;
    top: initial;
    right: initial;
    bottom: 20px;
    left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transform: translateY(0);
}    

input[type="checkbox"].switch-1 {
    transform: rotate(0deg);
}

/*******************************/


/* SIDENAV */
nav .sidenav {
    width: 350px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0f0717;
    border-top: none;
    border-left: none;
    border-bottom: none;
    display: flex;
    z-index: 100;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 200ms;
}

nav .sidenav .content p:nth-child(3) {
    margin-top: 0px;
    font-size: 0.9rem;
}

nav .sidenav .content .btn-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    text-align: center;
}


nav .sidenav .content .btn-container .my-btn {
    padding: 9px 18px;
    font-size: 0.9rem;
}

nav .sidenav .content .btn-container a:nth-child(2) .my-btn {
    margin-left: 10px;
    background-color: var(--pri-color);
    border-color: var(--pri-color);
}

nav .sidenav .content .language-container {
    margin-top: 40px;
}

nav .sidenav .content .language-container .language-type {
    margin-top: 10px;
    font-size: 1rem;
}


/* TOPNAV */
#topNav .dark-border {
    background-color: white !important;
    padding: 0;
}
nav .topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    z-index: 100;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    transform: translateY(-100%);
    transition: all 200ms;
}

nav .topnav .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
}

nav .topnav .content .dark-border {
    padding: 15px 30px;
}

nav .topnav .content i {
    font-size: 2rem;
    cursor: pointer;
}


/* PORTFOLIO */
.porfolio-container {
    width: calc(100vw - 350px);
    position: absolute;
    height: 100%;
    overflow: scroll;
    top: 0;
    right: 0;
}

.porfolio-container .portfolio-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: all 200ms;
}

.portfolio-list {
    width: 45%;
    padding-top: 25%;
    border-radius: 10px;
    margin: 1%;
    position: relative;
    overflow: hidden;
}

.porfolio-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition: opacity 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.porfolio-cover:hover {
    opacity: 1;
}

.porfolio-cover a {
    height: unset;
    width: unset;
}

.porfolio-cover .my-btn {
    border: none;
}

.porfolio-cover a:nth-child(1) .my-btn {
    border-radius: 10px;
    background-color: #1c1026;
    padding: 10px 15px;
    color: white;
    display: flex;
    align-items: center;
}

.porfolio-cover .my-btn i {
    color: white;
    font-size: 1.5rem;
    margin-right: 7px;
}

.porfolio-cover a:nth-child(2) .my-btn {
    padding: 15px 15px;
    text-decoration: underline;
    font-weight: bold;
    color: #1c1026;
}

.portfolio-list .portfolio-gif {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolio-list .porfolio-cover .technology {
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}








/***********************************/
/* ? MOBILE RESPONSIVENESS (850px) */
/***********************************/

@media (max-width: 850px) {
    .portfolio-list {
        width: 90%;
        padding-top: 50%;
    }


}



/***********************************/
/* ? MOBILE RESPONSIVENESS (700px) */
/***********************************/

@media (max-width: 700px) {
    .dark-border {
        padding: 40px;
    }


    nav .sidenav {
        height: calc(100% - 50px);
        width: 255px;
        transform: translateX(-100%);
        top: unset;
        bottom: 0;
        padding: 30px;
    }

    nav .topnav {
        transform: translateY(0);
    }

    .porfolio-container {
        width: 100%;
        top: 40px
    }

    .portfolio-list {
        width: 45%;
        padding-top: 35%;
    }
}


/***********************************/
/* ? MOBILE RESPONSIVENESS (450px) */
/***********************************/

@media (max-width: 450px) {
    .portfolio-list {
        width: 100%;
        padding-top: 40%;
        margin: 0.625rem 1.2rem;
    }
}